{% extends 'base.html' %}

{% block title %}Mad libs{% endblock %}

{% block content %}

<div class="container min-vh-100 d-flex flex-column justify-content-center align-items-center">
     <h1 class="h1">Madlibs</h1>
    <form action="story" class="bg-white p-3 d-flex flex-column align-items-center">
        {% for prompt in prompts %}
            <p class="mb-3">{{prompt}}:
                <input name = "{{prompt}}">
            </p>
        {% endfor %}
        <div class="form-group mb-3">
            <input type="submit" class="btn btn-primary" value="Submit">
        </div>
        </form>
</div>


    

{% endblock %}  